<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="EN"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="EN"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="EN"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="EN"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon-57-57.png">

        <link rel="stylesheet" href="/assets/stylesheets/styles.css">

    </head>
  <body>
    {{> header_bar}}
    <h4> Oh Snap, this is busted </h4>
    <p>Message was: {{message}}</p>
    <p>Error was: {{error}}</p>
  </body>
</html>
