<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="EN"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="EN"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="EN"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="EN"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon-57-57.png">

        <link rel="stylesheet" href="/assets/stylesheets/styles.css">

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <h3 class="test-class">
          WORD UP MANKIES
        </h3>
      </div>

      <footer>
        <p>&copy; 2016</p>
      </footer>
    </div>
      <script src="/assets/javascripts/client-app.js"></script>
    </body>
</html>
